<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Ask a Dev</a>
    <a href="/perguntar">
    <button class="btn btn-outline-warning my-2 my-sm-0">ASK A QUESTION</button>
    </a>
</nav>